@model MVCLibrary.ViewModels.CartBookViewModel

@{
    ViewBag.Title = "Index";
}

<div ng-controller="booksController" class="table-responsive">
    @if (Model.cart != null)
    {
        if (Model.cart.books.Count != 0)
        {
            <table class="table">
                @foreach (var item in Model.cart.books)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ISBN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Available)
                        </td>
                        <td>
                            @Html.ActionLink("Usuń", "RemoveBook", "Cart", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>

                }
            </table>
            @Html.ActionLink("Wypożycz ksiązki", "LendBooks", "Cart", null, new { @class = "btn btn-success" })
            @Html.ActionLink("Wyczyść koszyk", "ClearCart", "Cart", null, new { @class = "btn btn-danger" })
        }
    }
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Available
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BookViewModels)
            {
                <tr ng-if="editmode != @(item.Id)">
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Available)
                    </td>
                    <td>
                        @if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink(MVCLibrary.Resources.HomeTexts.AddToCart, "AddBookToCart", "Cart", new { id = item.Id }, new { @class = "btn btn-success" })
                            if (User.IsInRole("Admin") || User.IsInRole("Worker"))
                            {
                                <a class="btn btn-warning" ng-click="setEditMode(@(item.Id))">Edit</a>
                                @Html.ActionLink(MVCLibrary.Resources.HomeTexts.Delete, "Delete", null, new { @class = "btn btn-danger" } /* id=item.PrimaryKey */ );
                            }
                        }
                    </td>
                </tr>
                <tr ng-if="editmode == @(item.Id)" class="form-group">
                    @using (Html.BeginForm("Edit", "Books", FormMethod.Post))
                    {
                        <td>
                            @Html.TextBoxFor(modelItem => item.Title, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.TextBoxFor(modelItem => item.Author, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.TextBoxFor(modelItem => item.ISBN, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.CheckBoxFor(modelItem => item.Available, new { @class = "form-control" })
                        </td>
                        <td>
                            <a class="btn btn-warning" ng-click="cancel()">Cancel</a>
                            <input class="btn btn-success" type="submit" ng-click="submit()" value="Submit" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>