@model MVCLibrary.ViewModels.CartBookViewModel

@{
    ViewBag.Title = "Index";
}

@if (Model.cart != null)
{
    if (Model.cart.books.Count != 0)
    {
        <table class="table">
            @foreach (var item in Model.cart.books)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Available)
                    </td>
                    <td>
                        @Html.ActionLink("Usuń", "RemoveBook", "Cart", new { id = item.Id }, new { @class = "btn btn-success" })
                    </td>
                </tr>

            }
        </table>
        @Html.ActionLink("Wyczyść koszyk", "ClearCart", "Cart", null, new { @class = "btn btn-success" })
        @Html.ActionLink("Wypożycz ksiązki", "LendBooks", "Cart", null, new { @class = "btn btn-success" })

    }
}
<table class="table ">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            ISBN
        </th>
        <th>
           Available
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.BookViewModels)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink(MVCLibrary.Resources.HomeTexts.AddToCart, "AddBookToCart", "Cart", new { id = item.Id }, new { @class = "btn btn-success" })
                    if (User.IsInRole("Admin") || User.IsInRole("Worker"))
                    {
                        @Html.ActionLink(MVCLibrary.Resources.HomeTexts.Edit, "Edit", new { /* id=item.PrimaryKey */ });
                        @Html.ActionLink(MVCLibrary.Resources.HomeTexts.Delete, "Delete", new { /* id=item.PrimaryKey */ });
                    }
                }
            </td>
        </tr>

    }
</table>
