@model IEnumerable<MVCLibrary.ViewModels.BookViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger fade in">
        <strong>Error!</strong> @ViewBag.ErrorMessage.
    </div>
}@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success alert-dismissable">
        <strong>Success!</strong>@ViewBag.SuccessMessage
    </div>
}
<table class="table ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Available)
            </td>
            <td>
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink(MVCLibrary.Resources.HomeTexts.AddToCart, "AddBookToCart", "Cart", new { id = item.Id }, new { @class = "btn btn-success" })
                    if (User.IsInRole("Admin") || User.IsInRole("Worker"))
                    {
                        @Html.ActionLink(MVCLibrary.Resources.HomeTexts.Edit, "Edit", new { /* id=item.PrimaryKey */ });
                        @Html.ActionLink(MVCLibrary.Resources.HomeTexts.Delete, "Delete", new { /* id=item.PrimaryKey */ });
                    }
                }
            </td>
        </tr>

    }
</table>
